* {
	box-sizing: border-box;
	margin: 0;
}

main {
	display: flex;
	flex-direction: row;
}

main .nav {
	width: 500px;
}

main .resume {
	width: 100%;
}

@media only screen and (max-width: 600px) {

	main {
		display: flex;
		flex-direction: column;
	}

	main .nav {
		width: 100vw;
	}

	main .resume {
		width: 100vw;
	}
}