* {
	box-sizing: border-box;
	margin: 0;
}

main {
	height: 100vh;
	background-image: url("../../logo.svg");
	background-position: right;
	background-repeat: no-repeat;
}

header {
	height: 100px;
	display: flex;
	border-bottom: 2px solid black;

}


header>img {
	height: 100px;
	width: 100px;
	margin-left: 100px;
}

header>h1 {
	margin-right: auto;
	padding: 25px 20px;
	color: #61dafb;
}

header>div {
	margin-right: 200px;
	padding: 35px 20px;
}

.color-change {
	display: flex;
	gap: 0 20px;
}

.color-change>div {
	border: 1px solid black;
	border-radius: 10px;
	padding: 0 10px;
}

.React-Facts {
	width: 1000px;
	padding: 50px 0;
	margin: auto;
}

.React-Facts>h2 {
	padding: 10px;
}

li {
	margin: 10px;
	font-size: 1.2rem;
}

li::marker {
	color: #61dafb;
	font-size: 1.4rem;
}

.change-color {
	display: flex;
}

.change-color>div {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid white;
	margin: 5px;
}